html {
  font-size: 12px;
}

body {
  font-family: "Raleway", monospace;
  margin: 0;
}

h2 {
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 3.5rem;
  text-align: center;
  -webkit-font-smoothing: antialiased
}

h1 {
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  
  -webkit-font-smoothing: antialiased
}


/* Style the header with a grey background and some padding */

/* Alternate bg's:
https://imgur.com/mBgUS8C
https://i.imgur.com/syD3h4a.jpg
*/

.bg {
  background-image: url("https://imgur.com/mBgUS8C.png");
  height: 100vh;
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}


.content {
  background-color: rgb(243, 118, 206);
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 25vh;

}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
}

.countup {
  display: flex;
  font-size: 1.5rem;
}

.countup .timeel {
  display: inline-block;
  padding: 1rem;
  background: white;
  color: black;
  border-radius: 5px 0 0 5px;
}

.countup .timeel:nth-child(even) {
  /* on desktop view, add some space between each datetime grouping */
  margin-right: 8px;
}

.countup span[class*="timeRef"] {
  border-radius: 0 5px 5px 0;
  background: white;
  color: black;
}


@media screen and (max-width: 800px) {

  h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
    -webkit-font-smoothing: antialiased
  }

  .countup {
    /* make time blocks vertically stacked */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    /* pull the content lower, below Jerm's face */
    margin-bottom: 5vh;
    padding: 1rem 2rem;
    
  }

  .countup .timeel {
    /* make all the time elements 100px in width so they look neat in a vertical fashion */
    display: inline-block;
    padding: 1rem;
    background: white;
    color: black;
    width: 7rem;
  }

  .countup .timeel:nth-child(even) {
    /* undo the desktop view spacin between each datetime grouping */
    margin-right: 0;
    margin-bottom: 2px;
  }
}
